* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(252, 237, 215);
}

.logo {
    width: 100px;
    height: 90px;
    padding-left: 10px;
}

#header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    margin: 5px 8px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    background-color: rgb(240, 226, 206);
    position: sticky;
    top: 0px;
    left: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(78, 78, 49);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(240, 141, 13);
}


#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(234, 184, 119);
    position: absolute;
    bottom: -4px;
    left: 30px;
}
main {
    padding: 20px;
}
/* Header styles */

/* Navigation styles */

.contact-form {
    margin: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label,
.contact-form textarea,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s ease;
}
button{
    display: flex;
    align-items: end;
    width: 10px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #007bff;
}

/* Footer styles */
footer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-color: rgb(250, 219, 179);
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 49px;
}

footer .col1 .row img {
    width: 140px;
    height: 60px;
}

footer .col1 img {
    width: 230px;
    height: 60px;
}

footer .col a {
    text-decoration: none;
    color: black;
    padding: 2px;
}

footer .col p {
    padding: 2px;
}

footer .col h4 {
    padding: 20px 0;
    font-size: 20px;
}

.logo {
    width: 100px;
    height: 90px;
    padding-left: 10px;
}